{% load tailwind_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-blue-400">
    <div class="w-full max-w-lg mx-auto my-4 px-6 py-7 border-solid shadow bg-skyblue-900 rounded-lg">
        <h1 class="text-2xl text-center">Registration Form</h1>
        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Submit" class="w-full sm:w-1/2 mx-auto px-3 py-2 bg-green-400 hover:cursor-pointer hover:bg-green-600 rounded-lg">
        </form>
        <p class="text-center">Already have an account?<a href="{% url 'login' %}" class="underline"> Login</a></p>
    </div>
</body>
<style>
    #id_username_helptext, #id_password1_helptext, #id_password2_helptext{
        color: black;
    }
</style>
</html>
